@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click <a asp-page="/Mandate/Index">Generate Mandate Id</a> to generate mandate</p>
</div>
