@page
@model BulkMandateGen.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click <a asp-page="/Mandate/Index">Generate Mandate Id</a> to generate mandate</p>
</div>*@

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="cSVModel.File" class="control-label">Upload CSV File</label>
            <input type="file" class="form-control-file" asp-for="cSVModel.File">
        </div>

        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-success" />
        </div>
    </form>
</div>
